@charset "UTF-8";
:root {
  --color-primary: #0d6f39;
  --color-secondary: #2D3047;
  --color-primary-dark: rgb(65, 38, 186);
  --color-red-light: #FF3366;
  --color-gainsboro: #E5DADA;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-light-5: #fffbfb;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-medium: 0 2rem 5rem rgba(0, 0, 0, 0.185);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 45%;
  }
}

body {
  font-family: copperplate, serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
  color: #000;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  height: 20rem;
  width: 100vw;
}

@media screen and (max-width: 768px) {
  .header {
    height: 15rem;
  }
}

.nav {
  background-color: inherit;
  height: 100%;
  width: 100vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
}

.nav-bottom {
  background-color: inherit;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.nav-bottom-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .nav-bottom-left {
    display: none;
  }
}

.nav-bottom-left-icon,
.nav-bottom-left-icon p {
  position: absolute;
  top: 2rem;
  left: 8rem;
  width: 40px;
  height: 20px;
}

.nav-bottom-left-icon p {
  left: 5rem;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .nav-bottom-left-icon p {
    display: none;
  }
}

.nav-bottom-left-menuTog {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  background-color: #fff;
  flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav-bottom-center {
  background-color: #fff;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-link-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.nav ul li {
  list-style: none;
}

.nav ul li a {
  color: #002f24;
  text-decoration: none;
  font-size: 1.6rem;
  margin: 2rem;
  font-family: copperplate-condensed, serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.nav ul li a:hover {
  border-bottom: 2px solid #ddd;
  color: #002f24;
}

.address {
  color: #002f24;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: copperplate-condensed, serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
}

.nav-top li a {
  color: #002f24;
}

.nav-bottom-right {
  background-color: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1100px) {
  .nav-bottom-right {
    display: none;
  }
}

.banner-btn {
  padding: 2rem 6rem;
  margin: 0 1rem;
  background-color: var(--color-primary);
  border: 1px solid #425361;
  border-radius: 0rem;
  font-weight: 400;
  font-family: copperplate-condensed, serif;
  font-style: normal;
  font-size: 1.4rem;
  letter-spacing: 2px;
  color: #fcf5f5;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border: none;
}

@media (max-width: 1100px) {
  #btbReduceSize {
    padding: 1.5rem 4rem;
  }
}

@media (max-width: 678px) {
  #btbReduceSize {
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
  }
}

.banner-btn-1 {
  background-color: #425361;
  border: 1px solid #425361;
}

.banner-btn:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.banner-btn:hover {
  color: #002f24;
  background-color: white;
  border: 1px solid #002f24;
}

.helper {
  font-size: inherit;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 2px;
  color: #0d5c4a;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 469px) {
  .helper {
    font-weight: 600;
    font-size: 2rem;
  }
}

.social-icon {
  fill: #1f1e1e;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.social-icon-1,
.social-icon-2 {
  fill: #1f1e1e;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.social-icon-2 {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .social-icon-2 {
    width: 3rem;
    height: 3rem;
  }
}

.vl {
  border-left: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  padding: .5rem .5rem;
}

.nav-bottom-left-icon .vl {
  height: 4rem;
}

/* --------------- Hamburger -menu ---------------- */
.menu-open {
  position: absolute;
  top: 1.6rem;
  left: 2rem;
  width: 40px;
  height: 20px;
  background-color: rgba(255, 0, 0, 0);
  cursor: pointer;
}

.menu-open span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 4px;
  background-color: black;
  margin-top: 3px;
}

.navX {
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100vh;
  background-color: black;
  border-right: 1px solid black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 8000;
}

@media only screen and (max-width: 728px) {
  .navX {
    left: -100%;
  }
}

.menu-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 18px;
  height: 18px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.menu-close span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 2px;
  background-color: #ffffff;
}

.menu-close :nth-child(1) {
  position: absolute;
  left: -2px;
  top: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-close :nth-child(2) {
  position: absolute;
  left: -2px;
  top: 7px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/*                  HEADER          */
header {
  position: relative;
  width: 100vw;
}

.carousel {
  max-width: 1695px;
  margin: 0 auto;
}

.carousel-indicators li {
  width: 60px;
}

.carousel-item {
  margin-top: 2rem;
  height: 50vh;
  width: 100%;
  background-color: black;
  color: #fff;
  position: relative;
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) {
  .carousel-item {
    height: 45vh;
  }
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 5rem;
  cursor: pointer;
}

#position {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-title-sub {
  position: absolute;
  width: 30vw;
  height: 25rem;
  left: 0;
  right: 0;
  bottom: 10rem;
  padding-bottom: 5rem;
  margin-left: 10rem;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .container-title-sub {
    padding-bottom: 0rem;
    margin-left: 5rem;
    bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .container-title-sub {
    width: 80vw;
    bottom: 1rem;
    margin-left: 4rem;
    height: 15rem;
  }
}

.container-title-sub h1,
.container-title-sub h4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  font-family: Corporate A Pro Light, serif;
  font-weight: 200;
  font-style: normal;
  font-size: 4.5rem;
  color: #fff;
  line-height: 1;
  letter-spacing: 2px;
  text-transform: initial;
}

.container-title-sub h4 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: start;
}

.container-title-sub button {
  margin-top: 4rem;
}

@media (max-width: 1280px) {
  .container-title-sub h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .container-title-sub h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .container-title-sub h4 {
    display: none;
  }
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.5;
  background-position: center;
  background-size: cover;
}

.line {
  margin: 2rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.timetable {
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.monFriday,
.satSunday {
  margin: 2rem;
  text-align: center;
}

.monFriday .p1,
.satSunday .p1,
.monFriday .p2,
.satSunday .p2 {
  font-size: 1.4rem;
  color: #0d5c4a;
}

.monFriday .p2,
.satSunday .p2 {
  font-size: 1.2rem;
  color: #9b9999;
}

.aboutUs {
  width: 100%;
  padding: 4rem 0rem;
}

.aboutUsText {
  max-width: 100rem;
  margin: 0 auto;
  text-align: center;
}

.aboutUsText h1 {
  letter-spacing: 2px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

@media screen and (max-width: 650px) {
  .aboutUsText h1 {
    width: 80%;
  }
}

.aboutUsText p {
  width: 60%;
  margin: 0 auto;
  font-family: Corporate A Pro Light, serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  text-transform: initial;
  letter-spacing: 2px;
  margin-bottom: 3rem;
  color: #9d9b9b;
}

@media screen and (max-width: 650px) {
  .aboutUsText p {
    width: 80%;
  }
}

.aboutUsText h4 {
  margin-bottom: 3rem;
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.miniGallery {
  max-width: 1695px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.miniGallery-1,
.miniGallery-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 25vh;
  width: 100%;
  background-image: url("/img/bg1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.miniGallery-2 {
  background-image: url("/img/10.jpg");
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 25vw;
  min-height: 25vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .9;
}

@media screen and (max-width: 550px) {
  .cta {
    width: 80%;
    height: 35vh;
  }
}

.cta .banner-btn {
  background-color: #fff;
  border: 1px solid #0d5c4a;
  color: #0d5c4a;
  padding: 2rem 6rem;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.cta .banner-btn:hover {
  background-color: #0d5c4a;
  color: #fff;
}

.cta h2 {
  margin-bottom: 3rem;
  font-size: 3.4rem;
  letter-spacing: 2px;
}

@media screen and (max-width: 550px) {
  .cta h2 {
    font-size: 2rem;
  }
}

.cta p {
  width: 80%;
  margin: 0 auto;
  font-family: Corporate A Pro Light, serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 3rem;
  color: #08493a;
}

@media screen and (max-width: 1000px) {
  .cta .container-title-sub {
    bottom: 5rem;
    padding-bottom: 0rem;
    margin-left: 4rem;
  }
}

.miniGallery .container-title-sub {
  margin-bottom: 0;
  padding-bottom: 0;
  bottom: 1rem;
  padding-bottom: 5rem;
  margin-left: 10rem;
}

@media screen and (max-width: 768px) {
  .miniGallery .container-title-sub {
    margin-left: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .miniGallery .container-title-sub h4 {
    display: none;
  }
}

.carousel-inner .container-title-sub .banner-btn,
.miniGallery .container-title-sub .banner-btn {
  background-color: rgba(77, 77, 77, 0.152);
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 2rem 6rem;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.carousel-inner .container-title-sub .banner-btn:hover,
.miniGallery .container-title-sub .banner-btn:hover {
  background-color: white;
  color: #000000;
}

.dressCode {
  max-width: 1695px;
  padding: 10vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 650px) {
  .dressCode {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4vh;
  }
}

.dressCode-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dressCode-1 h3 {
  color: #041f19;
  margin-bottom: 3rem;
  letter-spacing: 1px;
}

.dressCode-1 p {
  width: 80%;
  line-height: 1.6;
  letter-spacing: 1px;
  font-family: Corporate A Pro Light, serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #08493a;
}

@media screen and (max-width: 650px) {
  .dressCode-1 p {
    width: 100%;
  }
}

#pStyled {
  width: 100%;
  line-height: 1.6;
  letter-spacing: 1px;
  font-family: Corporate A Pro Light, serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #6f6f6d;
}

#h1Font {
  font-size: 4rem;
}

#pStyled2 {
  width: 100%;
  line-height: 1.6;
  letter-spacing: 1px;
  font-family: Corporate A Pro Light, serif;
  font-size: 2rem;
  font-weight: 600;
  color: #08493a;
}

.dressCode-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dressCode-2 h3 {
  color: #041f19;
  margin-bottom: 3rem;
  letter-spacing: 1px;
}

.dressCode-2 p {
  width: 80%;
  line-height: 1.6;
  letter-spacing: 1px;
  font-family: Corporate A Pro Light, serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #08493a;
}

@media screen and (max-width: 650px) {
  .dressCode-2 p {
    width: 100%;
  }
}

.vl1 {
  border-left: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15rem;
  padding: .5rem .5rem;
}

@media screen and (max-width: 650px) {
  .vl1 {
    display: none;
  }
}

@media screen and (min-width: 650px) {
  .vl-hidden {
    display: none;
  }
}

.vl-hidden {
  margin: 2rem 0;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.contact {
  background-color: #EAEAEA;
  width: 100vw;
  padding: 10vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact h2 {
  font-size: 2.8rem;
  margin-bottom: 4rem;
  letter-spacing: 2px;
}

.contact p {
  margin-bottom: 2rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: Corporate A Pro Light, serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #08493a;
}

.contact .p3 {
  font-size: 1.4rem;
  font-weight: 200;
  width: 80%;
  letter-spacing: 1px;
  font-family: Corporate A Pro Light, serif;
  color: #08493a;
}

.contact__form {
  width: 100%;
  padding: 2vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #08493a;
}

@media screen and (max-width: 1000px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form__input {
  margin: 2rem;
}

.form__input {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 1px;
  font-family: Corporate A Pro Light, serif;
  padding: 2rem 6rem;
  border-radius: 2px;
  background-color: inherit;
  border-bottom: 3px solid transparent;
  border: 1px solid #08493a;
  width: 28rem;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #08493a;
}

@media screen and (max-width: 1000px) {
  .form__input {
    width: 70vw;
  }
}

.form:focus {
  outline: none;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  border-bottom: 3px solid #ddd;
}

.form:focus:invalid {
  border-bottom: 3px solid #b80c0c;
}

.form::-webkit-input-placeholder {
  color: #08493a;
}

#color {
  color: #08493a;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: inherit;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.form::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: inherit;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.banner-btn-3 {
  color: #08493a;
  font-size: 2rem;
  font-family: copperplate-condensed, serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  list-style: none;
  margin-bottom: 4rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form__group a {
  text-decoration: none;
  list-style: none;
}

.banner-btn-3:hover {
  background-color: #08493a;
  color: #ffffff;
}

.banner-btn-3:focus {
  outline: none;
}

.form:focus {
  outline: none;
  -webkit-box-shadow: var(--shadow-light);
          box-shadow: var(--shadow-light);
  border-bottom: 3px solid #ddd;
}

.row {
  margin: 3rem 0 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row input {
  margin-right: 1rem;
}

.maps {
  background-color: #ffffff;
  max-width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.footer {
  overflow: hidden;
  background-color: #002f24;
  border: 1px solid #ddd;
  height: 10rem;
  margin: 0 auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4rem;
}

@media (max-width: 600px) {
  .footer {
    height: 30rem;
  }
}

.footer .nav-top {
  background-color: #002f24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .nav-top p {
  font-size: 1rem;
  margin-bottom: .5rem;
  color: #ddd;
}

.footer .nav-top .helper {
  font-size: 1.4rem;
  margin-bottom: 0rem;
  color: #ddd;
}

.footer .nav-bottom-right {
  background-color: #002f24;
}

.footer .vl {
  margin: 0 1rem;
  height: 4rem;
}

.footer .nav-link-links {
  background-color: #002f24;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 0 1rem;
}

@media (max-width: 600px) {
  .footer .nav-link-links {
    font-size: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
}

.footer ul li {
  list-style: none;
}

.footer ul li a {
  color: #ddd;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 2rem;
  font-family: copperplate-condensed, serif;
  font-weight: 500;
  font-style: normal;
  text-transform: initial;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer ul li a:hover {
  border-bottom: 2px solid #ddd;
  color: #002f24;
}

.footer .social-icon {
  fill: #ddd;
}

@media screen and (min-width: 1100px) {
  .nav-top .menu-open,
  .iconHider {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .address {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .nav-top button {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .nav-top .menu-open {
    top: 6rem;
    left: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-top .menu-open {
    top: 4rem;
    left: 4rem;
  }
}

@media screen and (max-width: 1100px) {
  .nav-top .helper {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 768px) {
  .nav-bottom {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .line-2 {
    margin: 2rem 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
  }
}

@media screen and (max-width: 768px) {
  #removed {
    display: none;
  }
}

/******************************** POPUP 👇*******************************/
.popup {
  height: 100%;
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eeebeb;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}

.popup:target {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.popup-close {
  text-decoration: none;
}

.popup-close:link,
.popup-close:visited {
  color: #504f4f;
  position: absolute;
  top: 10vh;
  right: 10vh;
  width: 6rem;
  height: 6rem;
  font-family: inherit;
  font-size: 4rem;
  font-weight: bold;
  background-color: #eeebeb;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
  z-index: 100;
}

.popup-close:hover {
  color: rgba(18, 184, 115, 0.568);
}

.popup:focus {
  outline: none;
}

.popup-content {
  width: 100vw;
  height: 100vh;
  padding: 15vh 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-content h1 {
  font-size: 5rem;
  letter-spacing: 2px;
  color: #002f24;
  margin-bottom: 4rem;
}

.popup-content h3 {
  color: #002f24;
}

/*        BOOKING SECTION */
.headerBook {
  max-width: 120rem;
  margin: 0 auto;
  height: 100vh;
}

.navBook {
  widows: 100%;
  height: 8rem;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

@media screen and (max-width: 650px) {
  .navBook {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 12rem;
  }
}

.addressBook,
.addressBook2 {
  list-style: none;
}

.navBook li a {
  text-decoration: none;
  color: #002f24;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Corporate A Pro Light, serif;
}

.navBook li a:hover {
  border-bottom: 1px solid #002f24;
}

.helperBook {
  font-size: inherit;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 2px;
  color: #0d5c4a;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .helperBook {
    font-size: 2rem;
  }
}

.bookImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
}

.bookImage1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  background-image: url("/img/3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.bookImage2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  height: 100%;
  background-color: rgba(79, 43, 43, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bookImage2 h3 {
  margin: 2rem 0 1rem 0;
}

.bookImage2 p2 {
  text-decoration: none;
  color: #002f24;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Corporate A Pro Light, serif;
  text-align: center;
}

.bookBooking {
  background-color: #F7F7F7;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.166);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.166);
  width: 60rem;
  height: 30vh;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 4rem;
}

@media screen and (max-width: 768px) {
  .bookBooking {
    padding: 2rem;
    width: 100%;
  }
}

.bookBooking p {
  text-decoration: none;
  color: #002f24;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: Corporate A Pro Light, serif;
  margin-bottom: 3rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .bookBooking p {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.barImage {
  max-width: 1695px;
  height: 80vh;
  padding: 4rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.barImage-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  background-image: url("/img/12.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

@media screen and (max-width: 980px) {
  .barImage-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }
}

.barImage-2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 980px) {
  .barImage-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

.barImage-3 {
  background-color: white;
  position: absolute;
  padding: 4rem;
  top: 50%;
  left: 65%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 35vw;
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.166);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.166);
}

.barImage-3 h2,
.barImage-3 #pStyled {
  margin-bottom: 3rem;
}
/*# sourceMappingURL=style.css.map */